html, body{
	font-family: 'Roboto', sans-serif;
	background: #f4f2ec url(../img/fundo.png) repeat-x;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}
a:link, a:active, a:visited{
	color: #af670a;
	text-decoration: none;
}
a:hover{
	color: #227115;
}
/* --- ESTRUTURA DO SITE --- */
#container{
	width: 1080px;
	margin: 0 auto;
}
header{
	padding: 15px 0;
	height: 55px;
}
h4{
	color: #86521a;
	text-transform: uppercase;
	padding-bottom: 3px;
	margin-bottom: 0px;
}
h3{
	color: #227115;
	font-size: 1.0em;
	margin-bottom: 15px;
	text-transform: uppercase;
}
/* --- LOGO --- */
#logo a{
	width: 248px;
	height: 21px;
	text-indent: -2000px;
	display: block;
	background: url(../img/logo.png) no-repeat;
}
#logo h1{
	float: left;
}
/* --- BARRA DE NAVEGAÇÃO --- */
nav ul{
	margin: 20px;
	float: right;
}
nav ul li{
	float: left;
	list-style: none;
}
nav ul li a:link{
	display: block;
	margin-right: 25px;
	padding-bottom: 3px;
	text-transform: uppercase;
}
nav ul li a:hover{
	border-bottom: 1px solid #535858;
}
/* --- INPUTS --- */
input.campo{
	border: 1px solid #ada484;
}
input.botao{
	background: #9b9271;
	color: white;
	width: 100%;
	height: 40px;
	font-size: 1.2em;
}
fieldset{
	border: none;
}
legend{
	display: none;
}
/* --- PRINCIPAL --- */
#conteudo {
	width: 710px;
	float: left;
}
aside{
	width: 350px;
	float: right;
	background: #dedddc;
	padding-bottom: 30px;
}
section#visita{
	background: #cdc8b1;
	padding: 10px 27px 27px 27px;
}
section#galeria a{
	display: block;
	background: url(../img/fundo-foto.png) no-repeat;
	float: left;
	padding: 16px 15px 18px 15px;
	margin: 10px 20px;
}
section#galeria h4{
	margin-left: 27px;
}
article{
	float: left;
	width: 310px;
}
article#video{
	margin-left: 25px;
}
article#mapa{
	margin-left: 37px;
}
article#exposicoes{
	margin: 15px 0 0 25px;
}
article#historia{
	margin: 15px 0 0 37px;
}
footer{
	padding: 20px 0 30px 0;
	text-align: center;
	background: url(../img/fundo-rodape.png) no-repeat center top;
	margin-top: 20px;
}
footer p a{
	padding: 0 10px;
}
