.head{
    background-color: #0084ff;
    text-align: left;
    font-size: 200%;
    color: white;
    padding-top: 30px;
    padding-left: 10px;
    width: 99%;
    height: 80px;
    outline: black;
    outline-style: groove;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu{
    text-align: right;
    font-size: 90%;
    border: 1px solid #000000;
    border-collapse: collapse;
    float: right;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:  #00ffff;
}
.corpo{
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 10px;
}
.cont1{
    width: 99%;
    padding-top: 20px;
    height: 600px;
    border: 1px solid #000000;
    border-collapse: collapse;
    text-align: center;
    padding-left: 10px;
}
.rodap{
    background-color: #0084ff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
    font-size: 70%;
}
.subCenter{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    text-align: center;
    font-size: 150%;
}
.subLeft{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    text-align: left;
    font-size: 150%;
}
.asideR{
    float: right;
    margin: 0px 2px 2px 0px;
}
form{
    margin: 5px;
}
.direita{
    float: right;
}
select{
    margin-left: 18%;
}
fieldset{
    width: 43%;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 5px;
}
textarea{
    width: 45%;
}
.outline{
    border: 1px #000000;
}
